@use '../abstracts/mixins' as *;

header {

    .logo {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    align-items: center;
    @include header-shadow;
    position: relative;
    pointer-events: none;
    }   

    img {
        width: 162px;
    }

    a {
        margin: 17px 0 17px 23px;
        font-size: 20px;
        color: black;
        position: absolute;
    }
}
