/*****Général****/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #F6F6F6;
    --second-txt-color: #353535;
    --second-bg-color: #99E2D0;
}

h1, h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.button-violet {
    height: 50px;
    background: linear-gradient(#ff79da, #9356dc);
    border: none;
    border-radius: 50px;
    padding: 0 25px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    margin: auto;
}

/*****Loader*****/

.loader {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: loader 2s forwards;
    animation-fill-mode: both;
}

.loader span {
    width: 100px;
    height: 100px;
    border: 5px solid #9356DC;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
        display: block;
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
        display: none;
    }
}

/*****Header*****/

header .logo {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 38, 0.15);
    position: relative;
}

header img {
    width: 162px;
}

header a {
    margin: 17px 0 17px 23px;
    font-size: 20px;
    color: black;
    position: absolute;
}

/*****Form*****/

.location {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    width: 100%;
}

input {
    border: none;
    background-color: #EAEAEA;
    margin-top: 5px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--second-txt-color);
}

.fa-location-dot {
    width: 12px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****Explorer les restaurants*****/

.explore {
    background-color: var(--main-bg-color);
    padding: 30px;
    text-align: center;
}

.explore h1 {
    padding: 15px;
}

.explore p {
    padding-bottom: 30px;
    font-size: 18px;
    color: var(#353535);
}

.explore .button-violet {
    margin-bottom: 30px;
}

/*****Fonctionnement*****/

.fonctionnement {
    padding: 48px 0 65px 0;
}

.fonctionnement h2 {
    margin-left: 20px;
    margin-bottom: 30px;
}

.fonctionnement-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.fonctionnement-steps-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.button-grey {
  height: 20px;
  background-color: #f6f6f6;
  padding: 28px 38px 28px 28px;
  border: none;
  border-radius: 20px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.button-grey-icon {
    padding-right: 15px;
    color: #7E7E7E;
}

.fa-store {
    padding-right: 15px;
    color: #9356DC;
}

.fonctionnement-steps-btn span {
    display: flex;
    height: 24px;
    width: 24px;
    left: 2%;
    top: 25%;
    z-index: 2;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-color: #9356dc;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
}

/*****Restaurants*****/

.restaurants {
    background-color: var(--main-bg-color);
    padding: 48px 0 60px 0;
}

.restaurants h2 {
    margin-left: 20px;
    margin-bottom: 30px;
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.restaurant-card img {
    height: 174px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.restaurant-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    width: 100%;
}

.restaurants-card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurant-card-content i {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    right: 35px;
    margin-top: 5px;
}

.restaurant-card a {
    height: 251px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    text-decoration: none;
    color: black;
    position: relative;
}

.nouveau {
    background-color: var(--second-bg-color);
    padding: 7px 9px;
    position: absolute;
    color: #008766;
    right: 15px;
    margin-top: 15px;
    border-radius: 3px;
}

/*****Pages des menus*****/

.menu-img img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menus {
    border-radius: 40px 40px 0px 0px;
    background-color: var(--main-bg-color);
    margin-top: -50px;
    position: relative;
    padding-bottom: 30px;
}

.menus h2 {
    margin-top: 32px;
    padding-left: 17px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.menu-title-heart {
    width: 70px;
    position: relative;
}

.menus-title-heart .fa-full,
.menus-title-heart .fa-empty {
    font-size: 24px;
    position: absolute;
    top: 3%;
    right: 10%;
}

.menus-details {
    margin-top: 32px;
}

.menus-details-plats {
    margin-bottom: 40px;
}

.menus-details-plats span {
    padding-left: 17px;
    font-size: 16px;
    font-weight: 300;
}

.menus-details-line {
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    margin: 5px 0 5px 17px;
}

.menus-commander {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.menus-commander .button-violet {
    padding: 0 48px;
}

.menus-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menus-card-plat {
    width: 93%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    background-color: white;
    text-decoration: none;
    margin: 8px 0;
    padding: 0 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.menus-card-txt {
    padding: 15px 0;
}

.menus-card-txt p {
    padding-top: 5px;
    font-size: 15px;
}

.menus-card-price p {
    font-weight: 700;
    position: absolute;
    top: 50%;
    right: 5%;
}

/*****Footer*****/

footer {
    background-color: #353535;
    padding: 22px 22px 15px 22px;
    position: relative;
}

footer h2 {
    font-family: 'Shrikhand', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px 10px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-container a {
    font-size: 16px;
    color: #ffffff;
    margin: 8px 10px;
    text-decoration: none;
}

.footer-container a i {
    width: 11px;
    margin-right: 13px;
}

.footer-mentions {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

/*****Media Queries*****/

@media screen and (min-width: 1024px) {

    .fonctionnement-steps {
        flex-direction: row;
    }

    .button-grey {
        width: 322px;
    }

    .fonctionnement h1 {
        padding-left: 11%;
    }

    .restaurants {
        padding-left: 11%;
        padding-right: 11%
    }


    .restaurants-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurant-card {
        width: 45%;
    }

    .nouveau {
        right: 3%;
    }

    .menus {
        margin-left: 15%;
        margin-right: 15%;
    }

    .menus-title {
        display: flex;
        justify-content: center;
    }

    .menus-title-heart .fa-full,
    .menus-title-heart .fa-empty {
        left: 68%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        padding: 62px 90px 30px 0px;
        gap: 90px;
    }

    .footer-container {
        flex-direction: row;
    }

}