@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/*****Form*****/

.location {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    align-items: center;
    background-color: $secondary-bg-color;
    width: 100%;

    input {
        border: none;
        background-color: $secondary-bg-color;
        margin-top: 5px;
    }

    input::placeholder {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: var($secondary-txt-color);
    }

    .fa-location-dot {
        width: 12px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*****Explorer les restaurants*****/

.explore {
    background-color: $main-bg-color;
    padding: 30px;
    text-align: center;

    h1 {
        padding: 15px;
    }

    p {
        padding-bottom: 30px;
        font-size: 18px;
        color: var($secondary-txt-color);
    }

    .button-violet {
        margin-bottom: 30px;
    }
}

/*****Fonctionnement*****/

.fonctionnement {
    padding: 48px 0 65px 0;

    h2 {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .fonctionnement-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
    }
}

.fonctionnement-steps-btn {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    text-decoration: none;
    margin: 8px 0;
    padding: 0 0 0 15px;

    span {
        display: flex;
        height: 24px;
        width: 24px;
        top: 35%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: #ffff;
        background-color: #9356dc;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        left: 20px;
    }
}

.button-grey {
    height: 20px;
    background-color: #f6f6f6;
    padding: 28px 38px 28px 28px;
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.button-grey-icon {
    padding-right: 15px;
    color: #7E7E7E;
}

.fa-store {
    padding-right: 15px;
    color: #9356DC;
}

/*****Restaurants*****/

.restaurants {
    background-color: $main-bg-color;
    padding: 48px 0 60px 0;

    h2 {
        margin-left: 20px;
        margin-bottom: 30px;
    }
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    img {
        height: 174px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    a {
        height: 251px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: white;
        text-decoration: none;
        color: black;
        position: relative;
    }
}


.restaurant-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    width: 100%;

    i {
        position: absolute;
        font-size: 24px;
        cursor: pointer;
        right: 35px;
        margin-top: 5px;
    }

    .fa-solid {
        opacity: 0;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(#ff79da, #9356dc);
        transition: all 0.4s ease-in-out;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.restaurants-card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@media screen and (min-width: 1024px) {

    .fonctionnement {
        padding-left: 11%;
        padding-right: 11%;

        .fonctionnement-steps {
            flex-direction: row;
        }
    }

    .fonctionnement h1 {
        padding-left: 11%;
    }

    .restaurants {
        padding-left: 11%;
        padding-right: 11%
    }


    .restaurants-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurant-card {
        width: 45%;
    }

    .nouveau {
        right: 3%;
    }

    .menus {
        margin-left: 15%;
        margin-right: 15%;
    }

    .menus-title {
        display: flex;
        justify-content: center;
    }

    .menus-title-heart i {
        right: 28%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        padding: 62px 90px 30px 0px;
        gap: 90px;
    }

    .footer-container {
        flex-direction: row;
    }

}