@import '../abstracts/mixins';
@import '../abstracts/variables';

/*****Pages des menus*****/

.menu-img img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menus {
    border-radius: 40px 40px 0px 0px;
    background-color: $main-bg-color;
    margin-top: -50px;
    position: relative;
    padding-bottom: 30px;

    h2 {
        margin-top: 32px;
        padding-left: 17px;
        font-family: 'Shrikhand', sans-serif;
        font-size: 28px;
        font-weight: 400;
    }
}

.menus-title-heart {

    i {
        font-size: 24px;
        position: absolute;
        top: 3%;
        right: 5%;
        cursor: pointer;
    }

    .fa-solid {
        opacity: 0;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient($secondary-color, $main-color);
        transition: all 0.4s ease-in-out;

        &:hover {
            opacity: 1; 
        }
    }
}

.menus-details {
    margin-top: 32px;
}

.menus-details-plats {
    margin-bottom: 40px;

    span {
        padding-left: 17px;
        font-size: 16px;
        font-weight: 300;
    }
}

.menus-details-line {
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    margin: 5px 0 5px 17px;
}

.menus-commander {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;

    .button-violet {
        padding: 0 48px;
    }
}

.menus-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menus-card-plat {
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    background-color: white;
    text-decoration: none;
    margin: 8px 0;
    padding: 0 0 0 15px;
    @include menu-shadow;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menus-card-txt {
    padding: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: max-width 750ms ease;

    h3 {
        font-weight: 500;
    }

    p {
        padding-top: 5px;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.menus-card-check {
    background-color: $tertiary-color;
    min-width: 60px;
    height: 77px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: -62px;
    transform: translateX(0);
    transition: transform 750ms ease;

    i {
        color: #ffffff;
    }
}

.menus-card-plat:hover {

    .menus-card-check {
        transform: translateX(-62px);
        transition: transform 750ms ease;

        i {
            transform: rotate(360deg);
            transition: transform 750ms ease;
        }
    }

    .menus-card-price {
        transform: translateX(-62px);
        transition: transform 750ms ease;
    }

    .menus-card-txt {
        max-width: 63%;
        transition: max-width 750ms ease;
    }
}


.menus-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: absolute;
    right: 2%;
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 750ms ease;

    p {
        font-weight: 700;
        padding-top: 38px;
    
    }
}   